<header class="w-full h-14 bg-base-300 flex items-center">
    <div class="fixed z-30 flex justify-between w-full px-5">
        <div class="flex space-x-5">
            <div class="flex items-center lg:hidden">
                <button (click)="toggle()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-align-justify-icon lucide-align-justify"
                    >
                        <path d="M3 12h18" />
                        <path d="M3 18h18" />
                        <path d="M3 6h18" />
                    </svg>
                </button>
            </div>

            <div class="flex items-center lg:hidden">
                <a routerLink="/"
                    ><img
                        class="w-10 h-10 shrink-0"
                        src="/myo-x.svg"
                        alt="myo-x"
                /></a>
            </div>
        </div>

        <div class="flex space-x-7">
            <div *ngIf="isAvailableForInstall()" class="flex items-center">
                <button (click)="installApp()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-download-icon lucide-download"
                    >
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                        <polyline points="7 10 12 15 17 10" />
                        <line x1="12" x2="12" y1="15" y2="3" />
                    </svg>
                </button>
            </div>

            <div class="flex items-center">
                @if(isAuthenticated()) {
                <span (click)="logout()" class="font-bold"
                    ><a routerLink="/">Logout</a></span
                >
                } @else {
                <span class="font-bold"
                    ><a routerLink="/auth/login">Login</a></span
                >
                }
            </div>
        </div>
    </div>

    <nav
        class="fixed z-50 top-0 bg-base-200 w-1/2 h-screen px-6 py-3 space-y-10 transition-all duration-300 {{
            toggleSideNav() ? 'left-0' : '-left-full'
        }} lg:left-0 lg:w-[35%]"
    >
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex items-center space-x-3">
                <img class="w-12 h-12" src="/myo-x.svg" alt="myo-x" />
                <h1 class="text-2xl font-black text-nowrap">Myo X</h1>
            </div>

            <div class="lg:hidden">
                <button (click)="toggle()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-x-icon lucide-x"
                    >
                        <path d="M18 6 6 18" />
                        <path d="m6 6 12 12" />
                    </svg>
                </button>
            </div>
        </div>

        <div>
            <ul class="space-y-3 font-bold">
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li>Workout</li>
            </ul>
        </div>
    </nav>

    @if (toggleSideNav()) {
    <div (click)="toggle()" class="fixed z-40 w-full h-screen top-0"></div>
    }
</header>
